body{background-image: url(../../img/shahab.bmp);
    /*background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-repeat: repeat-x;*/
    background-size: contain;
}
p{color: red;}






