.linkarm{
font-family:tahoma;
font-size:11px;
width:100%;
text-align:center;
text-decoration:none;
color:#484848;

}
.linkarm a
{
font-family:tahoma;
font-size:11px;
width:100%;
text-align:center;
text-decoration:none;
color:#484848;

}
.textarm{
text-decoration: none;
color:#024387;
text-align:center;
font-family:tahoma;
font-size:11px;
}
.textarm a
{
text-decoration: none;
color:#024387;
text-align:center;
font-family:tahoma;
font-size:11px;
}