/*startiframestyle*/.iframestyle{
background-color:#F7F7F7;
height:100px;}/*endiframestyle*/
/*startuser*/.user{
font-family:tahoma;
font-size:x-small;
font-weight:bold;
color:E47F1E;}/*enduser*/
/*startuserval*/.userval{
font-family:tahoma;
font-size:x-small;
color:#CD3736;}/*enduserval*/
/*starttoday*/.today{
font-family:tahoma;
font-size:x-small;
color:#3347C0;}/*endtoday*/
/*starttodayval*/.todayval{
font-family:tahoma;
font-size:x-small;
color:#CD3736;}/*endtodayval*/
/*startyesterday*/.yesterday{
font-family:tahoma;
font-size:x-small;
color:#3347C0;}/*endyesterday*/
/*startyesterdayval*/.yesterdayval{
font-family:tahoma;
font-size:x-small;
color:#CD3736;}/*endyesterdayval*/
/*starttotal*/.total{
font-family:tahoma;
font-size:x-small;
font-weight:bold;
color:#3347C0;}/*endtotal*/
/*starttotalval*/.totalval{
font-family:tahoma;
font-size:x-small;
color:#CD3736;}/*endtotalval*/
/*startonline*/.online{
font-family:tahoma;
font-size:x-small;
font-weight:bold;
color:#3347C0;}/*endonline*/
/*startonlineval*/.onlineval{
font-family:tahoma;
font-size:x-small;
color:#CD3736;}/*endonlineval*/


