.RadMenu_Default
{
    background-image: url('img/MenuItemBackground.gif');
   
}

.RadMenu_Default .rootGroup .link 
{
    float: left;
    text-decoration:none ;
    color: #000000;
   
    background-color: transparent;
    
}
.RadMenu_Default .rootGroup .text
{
    background-image: none;
    font-family: Tahoma;
    font-size: 10px;
    font-weight: normal;
    line-height: 20px;
    margin-right: 0px;
    padding-left: 8px;
    padding-right: 14px;
}


.RadMenu_Default .rootGroup .link.disabled, 
.RadMenu_Default .rootGroup .link.disabled:hover
{
    -moz-opacity: 0.8;
    opacity: 0.8;
    color: #cccccc;
    background-image: none;
}


.RadMenu_Default .horizontal .expandBottom, 
.RadMenu_Default .horizontal .expandTop
{
    background-color: transparent;
    background-image: url('img/RootGroupArrowDown.gif');
    background-repeat: no-repeat ;
    background-position: right center;
}
.RadMenu_Default .vertical .expandLeft, 
.RadMenu_Default .vertical .expandRight
{
    background-color: transparent;
    background-image: url('img/invertedGroupImage.gif');
    background-repeat: no-repeat ;
    background-position: right center;
}

.RadMenu_Default .rootGroup .link:hover, 
.RadMenu_Default .rootGroup .focused, 
.RadMenu_Default .rootGroup .expanded
{
    color: #000066;
    background-color: transparent ;
    background-image: url('img/MainItemBackgroundHover.gif');
    background-repeat: no-repeat;
    background-position: center;
}



.RadMenu_Default .rootGroup .first .link
{
}
.RadMenu_Default .rootGroup .first .text
{
}
.RadMenu_Default .rootGroup .first .link.disabled, 
.RadMenu_Default .rootGroup .first .link.disabled:hover
{
}

.RadMenu_Default .horizontal .first .expandBottom,
.RadMenu_Default .horizontal .first .expandTop
{
}
.RadMenu_Default .vertical .first .expandLeft, 
.RadMenu_Default .vertical .first .expandRight
{
}

.RadMenu_Default .rootGroup .first .link:hover, 
.RadMenu_Default .rootGroup .first .focused, 
.RadMenu_Default .rootGroup .first .expanded
{
}




.RadMenu_Default .rootGroup .last .link
{
}
.RadMenu_Default .rootGroup .last .text
{
}
.RadMenu_Default .rootGroup .last .link.disabled, 
.RadMenu_Default .rootGroup .last .link.disabled:hover
{
}

.RadMenu_Default .horizontal .last .expandBottom, 
.RadMenu_Default .horizontal .last .expandTop
{
}
.RadMenu_Default .vertical .last .expandLeft, 
.RadMenu_Default .vertical .last .expandRight
{
}

.RadMenu_Default .rootGroup .last .link:hover, 
.RadMenu_Default .rootGroup .last .focused, 
.RadMenu_Default .rootGroup .last .expanded
{
}



/************************   Sub Menu   *******************************************/
.RadMenu_Default .slide
{
	margin-top:-1px;
	
}
.RadMenu_Default .group
{
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #6788be;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #6788be;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #6788be;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #6788be;
	background-color: #ffffff;
}

.RadMenu_Default .group .link
{
	background-color: #ffffff;
	border-bottom-style: solid ;
	border-bottom-width:1px ;
	border-bottom-color:#f0f2f3;
	color: #333333;
}

.RadMenu_Default .group .text
{
	 background-image: none;
    font-size: 11px;
    font-weight: normal;
    margin-right: 0;
    padding-right: 15px;
    text-align: right;
}

.RadMenu_Default .group .link:hover,
.RadMenu_Default .group .focused,
.RadMenu_Default .group .expanded
{
	background-color: #e7f1ff;
	border-bottom-style: solid ;
	border-bottom-color:#d8dde0;
	border-bottom-width:1px;
}
.RadMenu_Default .group .link.disabled, 
.RadMenu_Default .group .link.disabled:hover
{
    -moz-opacity: 0.8;
    opacity: 0.8;
    color: #ccc;
    background-image: none;
}

.RadMenu_Default .group .expandLeft,
.RadMenu_Default .group .expandRight
{
	background-color: transparent;
	background-image: url(img/groupImage.gif);
	background-position: right center;
	background-repeat: no-repeat;
}



.RadMenu_Default .group .first .link
{
}

.RadMenu_Default .group .first .text
{
}

.RadMenu_Default .group .first .link:hover,
.RadMenu_Default .group .first .focused,
.RadMenu_Default .group .first .expanded
{
}

.RadMenu_Default .group .first .link.disabled, 
.RadMenu_Default .group .first .link.disabled:hover
{
    
}

.RadMenu_Default .group .first .expandLeft,
.RadMenu_Default .group .first .expandRight
{
}


.RadMenu_Default .group .last .link
{
}

.RadMenu_Default .group .last .text
{
}

.RadMenu_Default .group .last .link:hover,
.RadMenu_Default .group .last .focused,
.RadMenu_Default .group .last .expanded
{
}

.RadMenu_Default .group .last .link.disabled, 
.RadMenu_Default .group .last .link.disabled:hover
{
    
}

.RadMenu_Default .group .last .expandLeft,
.RadMenu_Default .group .last .expandRight
{
}

.RadMenu_Default .group .first.last .link
{
    padding-left:0px;
    padding-right:0px;
    padding-top:0px;
    padding-bottom:0px;
    
}

.RadMenu_Default .group .first.last .text
{
    padding-left:0px;
    padding-right:0px;
    padding-top:0px;
    padding-bottom:0px;
}