@charset "utf-8";
/* CSS Document */


.kelidestan-container { 
   width:100%; // 980px
   margin:0 auto;  /* problem with flow slider ***************************************************** */ 
}
		   
body, div, h1, h2, h3, h4, h5, h6, p, ul, img {
   margin:0px;
   padding:0px;
}

#kelidestan-header {
   width:100%;
   height:40px;
   
   background-position:center;
   /* Border-radius:7px 7px 7px 7px; */
}

/* ///////////////////////////////////////////////////   sidebar1 */

#sidebar1 {
	  float:right;
	  margin-top:10px;
	  margin-right:0px; 
	  padding-right:0px;
	  border-style:solid;
	  border-width:0px;
	  border-color:#999999;
	  /* Border-radius:7px 7px 7px 7px; */
}	

@media (max-width: 601px) {
	#sidebar1 {
		padding-right:18px;
	}
}

@media (max-width: 993px) {
	#sidebar1 {
		padding-right:18px;
	}
}



#sub-sidebar1 {
	  width:90%;
	  float:right;
	  
	  padding-top:10px;
	  margin-top:0px;
	  padding-bottom:30px;
	  margin-bottom:10px;
	  padding-right:5%;
	  padding-left:5%;
	  
	  border-style:solid;
	  border-width:1px;
	  border-color:#999999;
	  /* Border-radius:7px 7px 7px 7px; */
}	

/* ///////////////////////////////////////////////////   content */

#content {

	 float:right;
	 margin-top:10px;
	 border-style:solid;
	 border-width:0px;
	 border-color:#999999;
}

#sub-content {
	 width:94%;
	 float:right;

	 padding-top:5px;
	 margin-top:5px;
	 padding-bottom:15px;
	 margin-bottom:5px;
	 margin-right:1%;
	 margin-left:1%;
	 padding-right:2%;
	 padding-left:2%;
	 
	 border-style:solid;
	 border-width:1px;
	 border-color:#999999;
}




/* ///////////////////////////////////////////////////   sidebar2 */					 		 
		 
#sidebar2 {
	  float:right;
	  margin-top:10px;
	  margin-left:0px; 
	  padding-left:0px;
	  border-style:solid;
	  border-width:0px;
	  border-color:#999999;
	  /* Border-radius:7px 7px 7px 7px; */
}

@media (max-width: 601px) {
	#sidebar2 {
		padding-left:18px;
		/* display:none; */
	}
}

#sub-sidebar2 {
	  width:88%;
	  float:right;
	  
	  padding-top:10px;
	  margin-top:0px;
	  padding-bottom:30px;
	  margin-bottom:10px;
	  padding-right:5%;
	  margin-right:2%;
	  padding-left:5%;
	  
	  border-style:solid;
	  border-width:1px;
	  border-color:#999999;
	  /* Border-radius:7px 7px 7px 7px; */
}	



















