@charset "utf-8";
/* CSS Document */

body { 
    background: #D8D8D8;
}

.kelidestan-container { 
    background: #D8D8D8;
}


/* ///////////////////////////////////////////////////   sidebar1 */

#sidebar1 {
	  direction:rtl;
	  font-weight:bold;
	  background: #D8D8D8; 
}

#sub-sidebar1 {
	  direction:rtl;
	  font-weight:bold;
	  background: #FFF; 
}

/* ///////////////////////////////////////////////////   content */

#content {
	 font-family:Tahoma, Georgia, "Times New Roman", Times, serif;
	 direction:rtl;
	 background: #D8D8D8; 
}

#sub-content {
	 font-family:Tahoma, Georgia, "Times New Roman", Times, serif;
	 direction:rtl;
	 background: #FFF; 
}

#key-writer {
	 font-family:Tahoma, Georgia, "Times New Roman", Times, serif;
	 direction:rtl;
	 background: #FFFFCC; 
}

#key-number {
	 font-family:Tahoma, Georgia, "Times New Roman", Times, serif;
	 direction:rtl;
	 background: #FFFFCC; 
}

/* ///////////////////////////////////////////////////   sidebar2 */					 		 
		 
#sidebar2 {
	  direction:rtl;
	  font-weight:bold;
	  background: #D8D8D8; 
}

#sub-sidebar2 {
	  direction:rtl;
	  font-weight:bold;
	  background: #FFF; 
}


















