@charset "utf-8";
/* CSS Document */



    .kelidestan-tooltip-2 strong {line-height:30px;}
    .kelidestan-tooltip-2 > span 
    {
	    width:400px;
	    padding: 10px 20px;
	    margin-top: 20px;
	    margin-left: -85px;
	    opacity: 0;
	    visibility: hidden;
	    z-index: 10;	   
	    position: absolute;

	    font-family: Arial;
	    font-size: 12px;
	    font-style: normal;  
        	    
	    -webkit-border-radius: 25px;
	    -moz-border-radius: 25px;
	    -o-border-radius: 25px;
	    border-radius: 25px;
	    
	    
        -webkit-box-shadow: 2px 2px 2px #999;
	    -moz-box-shadow: 2px 2px 2px #999;		
	    box-shadow: 2px 2px 2px #999;	    
	    
	
    }
    
    /*a.tooltip > span:hover,*/
	.kelidestan-tooltip-2:hover > span
	{
		opacity: 1;
		text-decoration:none;
		visibility: visible;
		overflow: visible;
		margin-top:45px;
		display: inline;
		margin-right: -60px;		
	}

	.kelidestan-tooltip-2 span b {
    
		width: 15px;
		height: 15px;
		margin-left: 20px;
		margin-top: -19px;
			
		display: block;
		position: absolute;

		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
			
		-webkit-box-shadow: inset -1px 1px 0 #fff;
		-moz-box-shadow: inset 0 1px 0 #fff;
		-o-box-shadow: inset 0 1px 0 #fff;
		box-shadow: inset 0 1px 0 #fff;
			
		display: none\0/;
		*display: none;
	}
    
.kelidestan-tooltip-2 > span {
	color: #FFFFFF; 

	background: #333333;
	background: -moz-linear-gradient(top, #333333 0%, #999999 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(100%,#999999));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#999999',GradientType=0 );
	    
	border: 1px solid #000000;	     
}    
	  
.kelidestan-tooltip-2 span b {
	background: #333333;
	border-top: 1px solid #000000;
	border-right: 1px solid #000000;
}












.t-1 {
	width:400px; 
	float:right;
}

.t-2 {
	width:100px; 
	height:70px; 
	float:right; 
	padding-top:10px; 
	padding-right:20px;	
}

.t-3 {
	width:60px;
	height:60px;
}

.t-4 {
	height:70px; 
	float:right;
}

.t-5 {
	padding-top:30px; 
	padding-right:10px;
	font-size:20px;
}

.css3-tooltip {
	height:100%; /* important for menu images size */
	width:100%; /* important for menu images size */
	border-width:0px;
	padding-top:2px;
	padding-bottom:2px;
}